body {
  margin: 0;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
}

.ChatDiv {
  position: relative;
  width: 95vw;
  height: 90vh;
  border-radius: 10px;
  overflow: hidden;
}

@media only screen and (min-width: 320px) {
  .ChatDiv {
    width: 90vw;
    height: 85vh;
  }
}
